
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/EmployeeAngular.js"></script>
<style>
    .btn-space {
        margin-left: -5%;
        background-color: cornflowerblue;
        font-size: large;
    }
</style>
<h2>Employee</h2>
<div ng-app="myApp">
    <div ng-controller="myCtrl" ng-init="GetAllData()" class="divList">
        <p class="divHead">List of Employee</p>
        <div class="row pull-right">
        <button type="button" class="btn btn-info" style="margin-right: 15px;margin-bottom: 10px;" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus" > </i> New</button>
           </div> 

        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>
                <td>
                    <b>ID</b>
                </td>
                <td>
                    <b>Name</b>
                </td>
                <td>
                    <b>City</b>
                </td>
                <td>
                    <b>Gender</b>
                </td>
                <td>
                    <b>Salary</b>
                </td>
                <td>
                    <b>Date of birth</b>
                </td>
                <td>
                    <b>Actions</b>
                </td>
            </tr>
            <tr ng-repeat="Emp in employees">
                <td>
                    {{Emp.Id}}
                </td>
                <td>
                    {{Emp.Name}}
                </td>
                <td>
                    {{Emp.City}}
                </td>
                <td>
                    {{Emp.Gender}}
                </td>
                <td>
                    {{Emp.Salary}}
                </td>
                <td>
                    {{Emp.DateofBirth}}
                </td>
                <td>
                    <button type="button" class="btn btn-warning" onclick="UpdateModal();"  ng-click="UpdateEmp(Emp)" ><i class='glyphicon glyphicon-pencil'></i> Update </button>
                    <button type="button" class="btn btn-danger" ng-click="DeleteEmp(Emp)"><i class='glyphicon glyphicon-remove'></i> Delete </button>
                  
                </td>
            </tr>
        </table>
      
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><span id="spn">Add New Employee</span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="container" role="form">
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Name:
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control col-md-7 col-xs-12" id="inputName" placeholder="Name" ng-model="Name">
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        City:
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control col-md-7 col-xs-12" id="inputCity" placeholder="City" ng-model="City">
                                    </div>
                                </div>
                                <br />

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender:</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control col-md-7 col-xs-12" id="inputGender" placeholder="Gender" ng-model="Gender">
                                    </div>
                                </div>

                                <br />

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Salary:</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control col-md-7 col-xs-12" id="inputLabel4" placeholder="Salary" ng-model="Salary">
                                    </div>
                                </div>

                                <br />

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Date of Birth:</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="inputLabel5" placeholder="Date of birth" ng-model="DateofBirth">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">


                        <input type="button" id="btnSave" class="btn btn-primary" value="Submit" ng-click="InsertData()" />

                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-horizontal" role="form">

        </div>
    </div>
    @Html.Hidden("EmpID_")
    <script type="text/javascript">
      
        </script>
</div>  